footer {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  height: 11.375rem;
  background-color: var(--dark);
  gap: 1.5rem;
  align-items: center;
}
.custom-border {
  margin-top: 4rem;
}
.media {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  i {
    color: black;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 48px;
    background: var(--Brand-2, #98faec);
  }
}
.rights p,
.policy {
  font-weight: 300;
}
.policy {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
