.navbar-collapse {
  flex-grow: 0;
  gap: 64px;
}
.container-fluid {
  justify-content: flex-end;
}
nav {
  padding-right: 128px;
  padding-left: 128px;
  background-color: var(--primary) !important;
  height: 4.25rem;
}
i {
  span {
    color: white;
  }
}
.icons {
  display: flex;
  gap: 32px;
  span {
    margin-left: 8px;
  }
}
.mobile-search-icon {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 15px;
}
.custom-border {
  border-bottom: 2px solid var(--greyline);
  width: 80%;
  margin: 0.3rem auto 0;
}
@media (max-width: 576px) {
  nav {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    .icons {
      display: none;
    }
    i {
      margin: 0;
    }
  }
  .search-form {
    display: none !important;
  }

  .mobile-search-icon {
    display: block !important;
  }
  .navbar-nav {
    flex-direction: row;
    gap: 16px;
  }
  .search-form.active {
    display: flex !important;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #212529;
    z-index: 1000;
  }
  .container-fluid {
    width: min-content;
    padding: 0;
    margin: 0;
  }
  .navbar-collapse {
    display: flex;
  }
}
