.navbar-collapse {
  flex-grow: 0;
  gap: 1rem;
}
.brand{
  a{
    margin:0;
  }
}
img {
  width: 3rem;

}

.container-fluid {
  justify-content: flex-end;
}

nav {
  background-color: var(--primary) !important;
  height: 3.7rem;
  justify-content: space-around;}

i {
  span {
    color: white;
  }
}

.icons {
  display: flex;
  gap: 32px;

  span {
    margin-left: 8px;
  }
}

.custom-border {
  border-bottom: 2px solid var(--greyline);
  width: 80%;
  margin: 0.3rem auto 0;
}

@media (max-width: 576px) {
  nav {
    .icons {
      display: none;
    }

    i {
      margin: 0;
    }
  }


  .navbar-nav {
    flex-direction: row;
    gap: 16px;
  }

  .container-fluid {
    width: min-content;
    padding: 0;
    margin: 0;
  }

  .navbar-collapse {
    display: flex;
  }
}
