<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="brand">
        <a class="navbar-brand" routerLink="/">Mohamed Ashraf</a>
    </div>
    <div class="container-fluid">
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Albums</a>
                </li>
            </ul>
            <form class="d-flex align-items-center search-form" role="search">
                <div class="search-container position-relative">
                    <input class="form-control pe-5 rounded-5 search-input" type="search" placeholder=""
                        aria-label="Search" style="width: 100%; padding-right: 40px;" />
                    <i
                        class="bi bi-search search-icon position-absolute top-50 end-0 translate-middle-y me-2 text-secondary"></i>
                </div>
                <button class="btn btn-outline-light ms-2 search-button" type="submit">Search</button>
            </form>

            <i class="bi bi-search mobile-search-icon d-none text-light" (click)="toggleSearch()"></i>

            <div class="icons text-light">
                <i class="bi bi-instagram"><span>Instagram</span></i>
                <i class="bi bi-linkedin"><span>LinkedIn</span></i>
                <i class="bi bi-github"><span>Github</span></i>
            </div>
        </div>
    </div>
</nav>
<div class="custom-border"></div>